# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Compiled output
*.iml
*.iws

# Log file
*.log

# Cache files
.idea/caches/
.idea/dictionaries/

# Sensitive or high-churn files
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml